::ng-deep {
  .p-component.p-toolbar {
    background-color: #2c3e50;
  }
  .p-toolbar-end {
    .p-button-rounded {
      padding: 15px;
    }
    .p-button-plain {
        margin-right: 10px;
    }
  }
}
